.post {
    font-size: 30px;
    color: #6c6c6c;
    font-weight: 700;
    display: flex;
    margin: 20px;
}

.title {
    margin-left: 30px;
    font-weight: 800;
    font-size: 24px;
}
.avatar {
    margin: 10px;
    width: 60px;
    height: 60px;
    background-color: #6c6c6c;
    border-radius: 50%;
}

.button {
    width: 100px;
    height: 30px;
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    font-weight: 900;  
    border: none;
}

.text {
    border-radius: 20px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}
.flex {
    width: 450px;
    display: flex;
    justify-content: end;
}
.like {
    background-color: pink;
    color: #6c6c6c;
    width: 50px;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
}
.emoji {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}