/* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* body{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
} */

body {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-wrapper {
  display: grid;
  width: 100%;
  grid-template-areas: "h h h"
    "n c c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 12fr;
  grid-gap: 10px;
}

/* .header img{
  max-width: 100%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 15px;
} */

.app-wrapper-content {
  grid-area: c;
  background-color: #fff;
}
